<section class="listes">


  <div class="container-list">

    <div class="lists" *ngFor="let list of listsArray">
      <p (click)="updateTitle(list)">{{list.list_title}}</p>
      <div class="icons">
        <mat-icon class="mat-18" (click)="onClickCard(list)">edit
        </mat-icon>
        <mat-icon class="mat-18" (click)="onDelete(list.todo_list_id)">delete</mat-icon>
        <mat-icon class="mat-18" (click)="onPrint(list)">print</mat-icon>

      </div>


    </div>

    <div class="add">
      <div class="btn" (click)="onClickPlus()">
        <mat-icon class="mat-18">add</mat-icon>
      </div>
    </div>


  </div>



</section>


