<section class="listes">


  <div class="container-list">

    <!-- on parcourt le tableau grace à ngFor -->
    <div class="lists" *ngFor="let list of listsArray">

      <!-- on utilise le property binding pour afficher les valeures dans le html -->
      <p (click)="updateTitle(list)">{{list.list_title}}</p>

      <div class="icons">
        <!-- on (click) on ajoute les méthodes-->

        <mat-icon class="mat-18" (click)="onClickCard(list)">edit
        </mat-icon>
        <mat-icon class="mat-18" (click)="onDelete(list.todo_list_id)">delete</mat-icon>
        <mat-icon class="mat-18" (click)="onPrint(list)">print</mat-icon>

      </div>


    </div>

    <div class="add">
      <div class="btn" (click)="onClickPlus()">
        <mat-icon class="mat-18">add</mat-icon>
      </div>
    </div>


  </div>



</section>
