.container {
  display: flex;
  flex-direction: column;
.table{
  overflow-y: scroll;
  height: 30vh;
}
}

.buttons {
  margin-top: 2vh;
  display: flex;
  color: rgb(255, 0, 0);
  align-items: flex-end;
}
