

<!--
<div class="todo-item">
    <div class="checkbox">
        <i class="material-icons-outlined">
        </i>
    </div>
    <p class="todo-text">{{ todo }}</p>
</div> -->


<!--
<mat-accordion *ngFor="let item of arrayForTodos[0]">

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>

            <mat-panel-title>
                {{item.title}}
            </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="descritpion">
            {{ item.description}}
        </div>
        <button mat-raised-button class="vh-10" color="primary" (click)="deleteDescription()">
            <mat-icon class="mat-18">add</mat-icon> Ajouter description
        </button> <button mat-raised-button class="vh-10" color="primary" (click)="updateDescription()">
            <mat-icon class="mat-18">add</mat-icon> Ajouter description
        </button>
        <!-- j'ajoute 1 description grace au service detail -->
        <!-- <button mat-raised-button class="vh-10" color="primary" (click)="addDescription()">
            <mat-icon class="mat-18">add</mat-icon> Ajouter description
        </button>

    </mat-expansion-panel>
    <!-- on ouvre une modale avec un formgroup title, todos description-->


<!-- </mat-accordion> --> --> -->
