// https://www.youtube.com/watch?v=OwfvMWqHjrY&list=PLIjdNHWULhPR2Tp3fA6Yg8_OY7bG35S5q&index=4
.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #dee1fe;
  background-image: url("https://source.unsplash.com/1920x1080/?beach");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .top-section {
    color: white;
    text-align: center;
    padding: 5.5vh 0vh;

    h1 {
      margin-top: 5vh;
      font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
      font-weight: bold;
      color: ghostwhite;
      text-shadow: 0px 1px 7px rgba(black, 0.5);
    }

    h2 {
      margin-top: 4vh;
      font-size: 0.8em;
      color: ghostwhite;
      // font-weight: bold;
      text-shadow: 0px 1px 4px rgba(black, 0.5);
    }
  }

  .content-section {
    flex-grow: 4;
  }

  .bottom-section {
    display: flex;
    color: rgb(0, 0, 0);
    margin: auto;
  }


}
