.bookmarks-wrapper {

  overflow-y: scroll;
  height: 45vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  flex-wrap: wrap;
  padding: 0.5vw;
  width: 70vw;
  border-radius: 20px;

  .container {

    .bookmark-tiles-container {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }

  }
}
