<div class="all">
  <div class="bg"></div>
  <mat-card class="example-card">
    <mat-card-content>

      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- formGroup on l'appelle come on l'a déclaré ds le TS  -->
        <h1>Bienvenue !<mat-icon class="mat-18" color="black">smile</mat-icon>
        </h1>
        <h3>Connectez-vous</h3>
        <div class="example-container">

          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <!--! forcontrolName pour formcontrol, formcontrol avec property binding si c'est tt seul -->
            <input matInput type="text" formControlName="utilisateur_mail">

          </mat-form-field>

          <mat-form-field appearance="outline" color="primary">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="utilisateur_mdp">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>


        </div>
        <mat-card-actions>
          <button mat-button color="primary">Connexion</button>


          <button mat-button color="primary" (click)="goToRegister()">S'enregistrer</button>
        </mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Soumettre</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
