
<mat-card class="example-card">

        <section class="user d-flex align-items-center">
                <h1 matDialogTitle>Ou est ce qu'on voyage?</h1>
                <p>Prenom: {{ data.users.prenom }}</p>
                <p>E-mail: {{ data.users.utilisateur_mail }}</p>
                <!-- property binding pour src, augmenter le référencement mettre avatar ds alt -->
        </section>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <button mat-button color="primary" (click)="onCancel()">No</button>
        <button mat-button color="primary" (click)="onClick()">Yes</button>
    </mat-card-actions>

</mat-card>
