<div class="tabs">
    <div class="tab">
        <div class="tab-tile">
            <mat-icon class="mat-18">bookmark_border</mat-icon>
            <!-- bookmarks -->
        </div>
    </div>
    <div class="tab">
        <div class="tab-tile">
            <mat-icon class="mat-18">check</mat-icon>
            <!-- bookmarks -->
        </div>
    </div>
    <div class="tab">
        <div class="tab-tile">
            <mat-icon class="mat-18">notes</mat-icon>
            <!-- bookmarks -->
        </div>
    </div>
</div>
<!-- localStorage.clear() -->
<!--  -->
