.tabs {
  background: rgba($color: #000000, $alpha: 0.1);
  display: flex;
  flex-direction: row;
  padding: 1vh;
  border-radius: 2vh;
  gap: 1vw;
  backdrop-filter: blur(3px);
  margin: 1.5vh;
  margin-top: 5.5vh;
  justify-content: center;
  justify-content: space-evenly;
  margin: auto;
  width: 21rem;
  margin-bottom: 2.5vh;

  .tab-tile {
    border-radius: 1vh;
    background: linear-gradient(45deg, #f8b5a5, #a6f8fe);
    cursor: pointer;
    padding: 2vh;
    display: flex;

    .tab {

      margin: auto;
      position: relative;

    }

  }
}
